whatsapp AI Auto reply - A man with footballls
{
  "name": "WhatsApp AI Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wa-ai-webhook"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "completion",
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "user",
            "content": "={{$json[\"body\"]}}"
          }
        ]
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "http://localhost:3000/send",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"number\": $json[\"from\"].split('@')[0],\n  \"message\": $json[\"choices\"][0][\"message\"][\"content\"]\n}"
      },
      "name": "Send Reply to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [950, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Send Reply to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
